@use './_colors' as *;

$inter: 'Inter', sans-serif;
$Lexend: 'Lexend Deca', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.cards {
    padding: 6em 2em;
    
    .desktop-visible {
        display: none;
    }
}